#content {
  section {
    padding-bottom: 40px;
  }
}

.about {

  .section-header {
    background: linear-gradient(135deg, $blue-1, $blue-1 150px, $gray-2 150px);

    @include respond(md) {
      background: linear-gradient(135deg, $blue-1, $blue-1 175px, $gray-2 175px);
    }
  }

  &__content {
    // display: flex;
    // align-items: center;
  }

  .profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 25px;
    border: 5px solid transparent;
    box-shadow: 0 0 0 3px $blue-3;
    float: none;
    -webkit-shape-outside:circle(50%);
    shape-outside:circle(50%);

    @include respond(sm) {
      float: left;
      margin: 0;
      transform: translateX(-15px);
    }
  }
}

.skills {

  .section-header {
    background: linear-gradient(135deg, $blue-1, $blue-1 235px, $gray-2 235px);

    @include respond(md) {
      background: linear-gradient(135deg, $blue-1, $blue-1 260px, $gray-2 260px);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__card {
    margin: 0 15px 30px;

    img {
      height: 90px;
      margin-bottom: 15px;

      @include respond(sm) {
        height: 135px;
      }

      @include respond(md) {
        height: 175px;
      }
    }

    p {
      text-align: center;
      font-size: 20px;
    }
  }
}

.projects {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(100% + 60px);
    transform: translateX(-30px);

    @include respond(sm) {
      width: 100%;
      transform: none;
    }
  }
  &__card {
    width: 240px;
    margin: 0 15px 15px;

    @include respond(xs) {
      width: 300px;
    }

    img {
      width: 100%;
      border: 3px solid $blue-2;
    }
  }

  &__title {
    text-align: center;
    font-size: 20px;
    padding-top: 2px;
    margin-bottom: 0;
    color: $gray-2;
    background: 
          linear-gradient(135deg, transparent 0px, transparent 21px, $blue-2 21px, $blue-2 60%, transparent 60%),
          linear-gradient(45deg, transparent 0px, transparent 40%, $blue-2 40%, $blue-2 170px, transparent 170px);
    
    @include respond(xs) {
      background: 
          linear-gradient(135deg, transparent 0px, transparent 21px, $blue-2 21px, $blue-2 60%, transparent 60%),
          linear-gradient(45deg, transparent 0px, transparent 40%, $blue-2 40%, $blue-2 213px, transparent 213px);
    }

    @include respond(md) {
      background: 
          linear-gradient(135deg, transparent 0px, transparent 24px, $blue-2 24px, $blue-2 60%, transparent 60%),
          linear-gradient(45deg, transparent 0px, transparent 40%, $blue-2 40%, $blue-2 213px, transparent 213px);
    }
  }

  &__buttons {
    width: 86%;
    display: flex;
    margin: 5px auto;

    .btn {
      width: 50%;
      border-radius: 0;
      border: none;
      text-decoration: none;
      transform: skewX(-45deg);
      border: 2px solid transparent;

      &--source {
        background-color: $blue-2;

        &:hover, &:focus {
          background-color: $blue-3;
          border-color: $blue-2;
        }
      }

      &--view {
        color: $blue-1;
        background-color: $blue-3;

        &:hover, &:focus {
          color: $blue-3;
          background-color: $blue-2;
          border-color: $blue-3;
        }
      }

      span {
        display: block;
        transform: skewX(45deg);
      }
    }
  }
}