/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $blue-1;
    color: #fff;
    transition: all 0.3s;

    @include respond(md) {
        width: 165px;

        &.active {
            margin-left: -50px;
        }
    }

    &.active {
        margin-left: -165px;
    }

    & .sidebar__nav {
        list-style-type: none;
        height: 100%;
        padding-left: 66px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
            position: relative;
            margin-bottom: 40px;
            &:last-child { margin-bottom: 0; }
            & a { text-decoration: none; }

            & .icon {
                color: $blue-3;
                background-color: $blue-1;

                &:before {
                    @include fontawesome(300);
                    position: absolute;
                    top: 8px;
                    left: -56px;
                    width: 25px;
                    font-size: 25px;
                    text-align: center;
                    cursor: pointer;

                    @include respond(md) {
                        left: -35px;
                    }
                }

                &.about-btn:before {
                    content: "\f2bb"; // address card
                }
                &.skills-btn:before {
                    content: "\f005"; // star
                }
                &.projects-btn:before {
                    content: "\f07c"; // folder
                }

                &:after {
                    content: "";
                    background-color: $blue-3;
                    width: 2px;
                    height: 52px;
                    position: absolute;
                    top: 37px;
                    left: -43px;

                    @include respond(md) {
                        left: -22px;
                    }
                }
            }

            &:last-child .icon:after {
                display: none;
            }
            &:hover .icon:before {
                font-weight: 600;
            }

            & .text {
                visibility: hidden;

                @include respond(md) {
                    visibility: visible;
                }
            }
        }

        a {
            color: #fff;
            padding: 10px;
            display: block;
            font-weight: 400;
    
            &:hover, &:focus {
                font-weight: 400;
                color: $blue-3;
            }
        }
    }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 50px);
    padding: 0px 30px 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 50px;
    -webkit-box-shadow: inset 5px 0px 10px 0px rgba($blue-1,0.5);
    -moz-box-shadow: inset 5px 0px 10px 0px rgba($blue-1,0.5);
    box-shadow: inset 5px 0px 10px 0px rgba($blue-1,0.5);

    &.active {
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    @include respond(md) {
        width: calc(100% - 165px); 
        left: 165px;
        padding: 0 60px 40px;
        -webkit-box-shadow: inset 10px 0px 20px 0px rgba($blue-1,0.5);
        -moz-box-shadow: inset 10px 0px 20px 0px rgba($blue-1,0.5);
        box-shadow: inset 10px 0px 20px 0px rgba($blue-1,0.5);
    }
}