/* ---------------------------------------------------
    MENU BUTTON STYLE (currently not being used)
----------------------------------------------------- */
/*
.menu-btn-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: $blue-3;
    border-radius: 50%;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.45);

    @include respond(md) {
        top: 19px;
        left: 52px;
    }
}

.menu {
    &__checkbox {
        display: none;
    }

    &__button {
        cursor: pointer;
        margin: 0;
        height: 100%;
        width: 100%;
        &::selection {
            background: transparent;
        }
    }

    &__icon {
        position: relative;
        top: 8.5px;
        left: 8.5px;

        &::selection {
        background: transparent;
        }

        &,
        &::before,
        &::after {
            width: 31px;
            height: 2px;
            background-color: #fff;
            display: inline-block;
            
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { 
            top: -9px; 
        }
        &::after { 
            top: 9px; 
        }

    }

    &__button:hover {
        .menu__icon::before {
        top: -11px;
        }
    }
    &__button:hover {
        .menu__icon::after {
        top: 11px;
        }
    }

    &__checkbox:checked + .menu__button .menu__icon {
        background-color: transparent;
    }

    &__checkbox:checked + .menu__button .menu__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + .menu__button .menu__icon::after {
        top:0;
        transform: rotate(-135deg);
    }
}
*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $blue-1;
    color: #fff;
    transition: all 0.3s;

    @include respond(md) {
        width: 165px;

        &.active {
            margin-left: -50px;
        }
    }

    &.active {
        margin-left: -165px;
    }

    & .sidebar__nav {
        list-style-type: none;
        height: 100%;
        padding-left: 66px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
            position: relative;
            margin-bottom: 40px;
            &:last-child { margin-bottom: 0; }
            & a { text-decoration: none; }

            & .icon {
                color: $blue-3;
                background-color: $blue-1;

                &:before {
                    @include fontawesome(400);
                    position: absolute;
                    top: 8px;
                    left: -56px;
                    width: 25px;
                    font-size: 25px;
                    text-align: center;
                    cursor: pointer;

                    @include respond(md) {
                        left: -35px;
                    }
                }

                &.about:before {
                    content: "\f3e0"; // portrait
                }
                &.skills:before {
                    content: "\f085"; // cogs
                }
                &.projects:before {
                    content: "\f0b1"; // project-diagram
                }
                &.hobbies:before {
                    content: "\f12e"; // puzzle-piece
                }
                &.contact:before {
                    content: "\f2bb"; // address-card
                }

                &:after {
                    content: "";
                    background-color: $blue-3;
                    width: 2px;
                    height: 52px;
                    position: absolute;
                    top: 37px;
                    left: -44px;

                    @include respond(md) {
                        left: -23px;
                    }
                }
            }

            &:last-child .icon:after {
                display: none;
            }
            &:hover .icon:before {
                font-weight: 300;
            }

            & .text {
                visibility: hidden;

                @include respond(md) {
                    visibility: visible;
                }
            }
        }

        a {
            color: #fff;
            padding: 10px;
            display: block;
            font-weight: 400;
    
            &:hover, &:focus {
                font-weight: 400;
                color: $blue-3;
            }
        }
    }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 50px);
    padding: 0px 30px 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-shadow: inset 5px 0px 10px 0px rgba($blue-1,0.5);
    -moz-box-shadow: inset 5px 0px 10px 0px rgba($blue-1,0.5);
    box-shadow: inset 5px 0px 10px 0px rgba($blue-1,0.5);

    &.active {
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    @include respond(md) {
        width: calc(100% - 165px); 
        padding: 0 60px 40px;
        -webkit-box-shadow: inset 10px 0px 20px 0px rgba($blue-1,0.5);
        -moz-box-shadow: inset 10px 0px 20px 0px rgba($blue-1,0.5);
        box-shadow: inset 10px 0px 20px 0px rgba($blue-1,0.5);
    }
}