@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700";

body {
    font-family: 'Open Sans', sans-serif;
    background: $gray-2;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
}

.section-header {
    color: $blue-1;
    background: linear-gradient(135deg, $blue-1, $blue-1 150px, $gray-2 150px);
    border-top: 10px solid $blue-1;
    width: calc(100% + 80px);
    transform: translateX(-40px);
    padding: 0 20px 10px;
    margin-bottom: 25px;
    clear: both;
  
    h1, h2 {
      color: $gray-2;
    }
}

h1, .h1 {
	font-size: 32px;
	@media (min-width: 768px) {
		font-size: 36px;
	}
}

h2, .h2 {
	font-size: 28;
	@media (min-width: 768px) {
		font-size: 32px;
	}
}

h3, .h3 {
	font-size: 24;
	line-height: 28px;
	@media (min-width: 768px) {
		font-size: 28px;
		line-height: 32px;
	}
}

h4, .h4 {
	font-size: 21px;
	@media (min-width: 768px) {
		font-size: 24px;
	}
}

h5, .h5 {
	font-size: 18px;
	@media (min-width: 768px) {
		font-size: 20px;
	}
}

h6, .h6 {
	font-size: 16px;
}