@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700";

body {
    font-family: 'Open Sans', sans-serif;
    background: $gray-2;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
}