@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700";
body {
  font-family: 'Open Sans', sans-serif;
  background: #f3f7f8; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999; }

a {
  color: #21c2f8;
  text-decoration: underline; }
  a:hover, a:focus {
    color: #2c3e50; }

a, a:hover, a:focus {
  transition: all 0.3s; }

.section-header {
  color: #202020;
  background: linear-gradient(135deg, #202020, #202020 150px, #f3f7f8 150px);
  border-top: 10px solid #202020;
  border-left: 1px solid #2c3e50;
  width: calc(100% + 60px);
  transform: translateX(-30px);
  padding: 0 20px 10px;
  margin-bottom: 40px;
  clear: both; }
  @media only screen and (min-width: 768px) {
    .section-header {
      transform: translateX(-60px);
      width: calc(100% + 120px); } }
  .section-header h1, .section-header h2 {
    color: #f3f7f8;
    margin-bottom: 0; }

h1, .h1 {
  font-size: 32px; }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 36px; } }

h2, .h2 {
  font-size: 26px; }
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 30px; } }

h3, .h3 {
  font-size: 24px;
  line-height: 28px; }
  @media (min-width: 768px) {
    h3, .h3 {
      font-size: 28px;
      line-height: 32px; } }

h4, .h4 {
  font-size: 21px; }
  @media (min-width: 768px) {
    h4, .h4 {
      font-size: 24px; } }

h5, .h5 {
  font-size: 18px; }
  @media (min-width: 768px) {
    h5, .h5 {
      font-size: 20px; } }

h6, .h6 {
  font-size: 16px; }

/* ---------------------------------------------------
    MENU BUTTON STYLE (currently not being used)
----------------------------------------------------- */
/*
.menu-btn-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: $blue-3;
    border-radius: 50%;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.45);

    @include respond(md) {
        top: 19px;
        left: 52px;
    }
}

.menu {
    &__checkbox {
        display: none;
    }

    &__button {
        cursor: pointer;
        margin: 0;
        height: 100%;
        width: 100%;
        &::selection {
            background: transparent;
        }
    }

    &__icon {
        position: relative;
        top: 8.5px;
        left: 8.5px;

        &::selection {
        background: transparent;
        }

        &,
        &::before,
        &::after {
            width: 31px;
            height: 2px;
            background-color: #fff;
            display: inline-block;
            
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { 
            top: -9px; 
        }
        &::after { 
            top: 9px; 
        }

    }

    &__button:hover {
        .menu__icon::before {
        top: -11px;
        }
    }
    &__button:hover {
        .menu__icon::after {
        top: 11px;
        }
    }

    &__checkbox:checked + .menu__button .menu__icon {
        background-color: transparent;
    }

    &__checkbox:checked + .menu__button .menu__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + .menu__button .menu__icon::after {
        top:0;
        transform: rotate(-135deg);
    }
}
*/
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #202020;
  color: #fff;
  transition: all 0.3s; }
  @media only screen and (min-width: 768px) {
    #sidebar {
      width: 165px; }
      #sidebar.active {
        margin-left: -50px; } }
  #sidebar.active {
    margin-left: -165px; }
  #sidebar .sidebar__nav {
    list-style-type: none;
    height: 100%;
    padding-left: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #sidebar .sidebar__nav li {
      position: relative;
      margin-bottom: 40px; }
      #sidebar .sidebar__nav li:last-child {
        margin-bottom: 0; }
      #sidebar .sidebar__nav li a {
        text-decoration: none; }
      #sidebar .sidebar__nav li .icon {
        color: #21c2f8;
        background-color: #202020; }
        #sidebar .sidebar__nav li .icon:before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 300;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          position: absolute;
          top: 8px;
          left: -56px;
          width: 25px;
          font-size: 25px;
          text-align: center;
          cursor: pointer; }
          @media only screen and (min-width: 768px) {
            #sidebar .sidebar__nav li .icon:before {
              left: -35px; } }
        #sidebar .sidebar__nav li .icon.about-btn:before {
          content: "\f2bb"; }
        #sidebar .sidebar__nav li .icon.skills-btn:before {
          content: "\f005"; }
        #sidebar .sidebar__nav li .icon.projects-btn:before {
          content: "\f07c"; }
        #sidebar .sidebar__nav li .icon:after {
          content: "";
          background-color: #21c2f8;
          width: 2px;
          height: 52px;
          position: absolute;
          top: 37px;
          left: -44px; }
          @media only screen and (min-width: 768px) {
            #sidebar .sidebar__nav li .icon:after {
              left: -22px; } }
      #sidebar .sidebar__nav li:last-child .icon:after {
        display: none; }
      #sidebar .sidebar__nav li:hover .icon:before {
        font-weight: 600; }
      #sidebar .sidebar__nav li .text {
        visibility: hidden; }
        @media only screen and (min-width: 768px) {
          #sidebar .sidebar__nav li .text {
            visibility: visible; } }
    #sidebar .sidebar__nav a {
      color: #fff;
      padding: 10px;
      display: block;
      font-weight: 400; }
      #sidebar .sidebar__nav a:hover, #sidebar .sidebar__nav a:focus {
        font-weight: 400;
        color: #21c2f8; }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: calc(100% - 50px);
  padding: 0px 30px 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 50px;
  -webkit-box-shadow: inset 5px 0px 10px 0px rgba(32, 32, 32, 0.5);
  -moz-box-shadow: inset 5px 0px 10px 0px rgba(32, 32, 32, 0.5);
  box-shadow: inset 5px 0px 10px 0px rgba(32, 32, 32, 0.5); }
  #content.active {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  @media only screen and (min-width: 768px) {
    #content {
      width: calc(100% - 165px);
      left: 165px;
      padding: 0 60px 40px;
      -webkit-box-shadow: inset 10px 0px 20px 0px rgba(32, 32, 32, 0.5);
      -moz-box-shadow: inset 10px 0px 20px 0px rgba(32, 32, 32, 0.5);
      box-shadow: inset 10px 0px 20px 0px rgba(32, 32, 32, 0.5); } }

#content section {
  padding-bottom: 40px; }
  #content section:last-child {
    padding-bottom: 0; }

.about {
  position: relative; }
  .about .section-header {
    background: linear-gradient(135deg, #202020, #202020 135px, #f3f7f8 135px); }
    @media only screen and (min-width: 768px) {
      .about .section-header {
        background: linear-gradient(135deg, #202020, #202020 155px, #f3f7f8 155px); } }
  .about .name {
    text-align: center;
    margin-bottom: 15px;
    padding: 3px;
    transform: skewX(-45deg);
    background-color: #21c2f8;
    color: #202020;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 146px;
    width: 250px; }
    @media only screen and (min-width: 768px) {
      .about .name {
        width: 315px;
        left: 143px;
        top: 15px; } }
    .about .name .first, .about .name .last {
      display: inline-block;
      transform: skewX(45deg); }
    @media (max-width: 495px) {
      .about .name {
        width: 130px; }
        .about .name .last {
          display: none; } }
  .about .follow {
    position: absolute;
    top: 20px;
    right: -10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 576px) {
      .about .follow {
        right: 0; } }
    .about .follow .linkedin-button {
      display: block;
      background-color: #252829;
      padding: 5px 10px;
      border-radius: 3px;
      margin-bottom: 5px; }
      .about .follow .linkedin-button img {
        display: block;
        margin: auto; }
  .about .profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 25px;
    border: 5px solid transparent;
    box-shadow: 0 0 0 3px #21c2f8;
    float: none;
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%); }
    @media only screen and (min-width: 576px) {
      .about .profile-img {
        float: left;
        margin: 0;
        transform: translateX(-15px); } }

.skills .section-header {
  background: linear-gradient(135deg, #202020, #202020 235px, #f3f7f8 235px); }
  @media only screen and (min-width: 768px) {
    .skills .section-header {
      background: linear-gradient(135deg, #202020, #202020 260px, #f3f7f8 260px); } }
.skills__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }
.skills__card {
  margin: 0 15px 30px; }
  .skills__card img {
    height: 70px;
    margin: 0 auto 15px;
    display: block; }
    @media only screen and (min-width: 576px) {
      .skills__card img {
        height: 90px; } }
    @media only screen and (min-width: 768px) {
      .skills__card img {
        height: 110px; } }
  .skills__card p {
    text-align: center;
    font-size: 20px; }

.projects__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100% + 60px);
  transform: translateX(-30px); }
  @media only screen and (min-width: 576px) {
    .projects__content {
      width: 100%;
      transform: none; } }
.projects__card {
  width: 240px;
  margin: 0 15px 15px; }
  @media only screen and (min-width: 400px) {
    .projects__card {
      width: 300px; } }
  .projects__card img {
    width: 100%;
    border: 3px solid #2c3e50; }
.projects__title {
  text-align: center;
  font-size: 20px;
  padding-top: 2px;
  margin-bottom: 0;
  color: #f3f7f8;
  background: linear-gradient(135deg, transparent 0px, transparent 21px, #2c3e50 21px, #2c3e50 60%, transparent 60%), linear-gradient(45deg, transparent 0px, transparent 40%, #2c3e50 40%, #2c3e50 170px, transparent 170px); }
  @media only screen and (min-width: 400px) {
    .projects__title {
      background: linear-gradient(135deg, transparent 0px, transparent 21px, #2c3e50 21px, #2c3e50 60%, transparent 60%), linear-gradient(45deg, transparent 0px, transparent 40%, #2c3e50 40%, #2c3e50 213px, transparent 213px); } }
  @media only screen and (min-width: 768px) {
    .projects__title {
      background: linear-gradient(135deg, transparent 0px, transparent 24px, #2c3e50 24px, #2c3e50 60%, transparent 60%), linear-gradient(45deg, transparent 0px, transparent 40%, #2c3e50 40%, #2c3e50 213px, transparent 213px); } }
.projects__buttons {
  width: 86%;
  display: flex;
  margin: 5px auto; }
  .projects__buttons .btn {
    width: 50%;
    border-radius: 0;
    border: none;
    text-decoration: none;
    transform: skewX(-45deg);
    border: 2px solid transparent; }
    .projects__buttons .btn--source {
      background-color: #2c3e50; }
      .projects__buttons .btn--source:hover, .projects__buttons .btn--source:focus {
        background-color: #21c2f8;
        border-color: #2c3e50; }
    .projects__buttons .btn--view {
      color: #202020;
      background-color: #21c2f8; }
      .projects__buttons .btn--view:hover, .projects__buttons .btn--view:focus {
        color: #21c2f8;
        background-color: #2c3e50;
        border-color: #21c2f8; }
    .projects__buttons .btn span {
      display: block;
      transform: skewX(45deg); }

/*# sourceMappingURL=main.css.map */
